.image-container {
    display: -ms-inline-grid; /* หรือ flex หรือ grid ขึ้นอยู่กับรูปแบบที่คุณต้องการ */
    margin: 10px; 
    text-align: center; 
}

.image-container img {
    max-width: 100%; 
    height: auto; 
}